<article class="card  mb-3">
    <div class="card-body">
        <h5 class="card-title mb-4">Recent orders </h5>	
        <div class="row">
        <div class="col-md-6">
            <figure class="itemside  mb-3">
                <div class="aside"><img src="images/items/1.jpg" class="border img-sm"></div>
                <figcaption class="info">
                    <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
                    <p>Great book name goes here </p>
                    <span class="text-success">Order confirmed </span>
                </figcaption>
            </figure>
        </div>
    </div> 

    <a href="#" class="btn btn-outline-primary btn-block"> See all orders <i class="fa fa-chevron-down"></i>  </a>
    </div> 
</article> 