{% extends 'base.html.twig' %}

{% block title %}Your cart{% endblock %}

{% block body %}
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    {% include "cart/cart_table.html.twig" with {
                    'items' : items
                    }%}

                    <div class="alert alert-success mt-3">
                        <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks
                        </p>
                    </div>
                </div>
            </main> <!-- col.// -->

            {% include "cart/cart_aside.html.twig" with {
            'total' : total
            }%}
        </div>

    </div> <!-- container .//  -->
</section>
{% endblock %}