{% extends 'base.html.twig' %}

{% block title %}Your cart{% endblock %}

{% block body %}
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    {% include "cart/cart_table.html.twig" with {
                    'items' : items
                    }%}
                    <div class="alert alert-success mt-3">
                        <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks
                        </p>
                    </div>
                </div>
            </main>

            {# aside #}
            {% include "cart/cart_aside.html.twig" with {
            'total' : total
            }%}

        </div>

    </div> <!-- container .//  -->

    <div class="modal fade" id="confirmForm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class=" modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirm Purchase by filling the form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(confirmationForm, {'action': path('purchase_confirm')} )}}
                    {{ form_widget(confirmationForm) }}
                    <button type="submit" class="btn btn-success">
                        Confirm
                    </button>
                    {{ form_end(confirmationForm) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}