{% extends 'base.html.twig'%}
{% block title %}
    Categories
{% endblock title %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{path('homepage')}}">Home</a></li>
      <li class="breadcrumb-item">{{category.name}}</li>
    </ol>
  </nav>
<div class="rounded shadow p-3 text-center mt-4">
    <h1> <span class="text-secondary">Category :</span>  {{category.name}}</h1>
</div>
{% include "shared/_products.html.twig" with {
    'products' : category.products
}%}
{% endblock %}