{% extends "base.html.twig" %}
{% block title %}
    products
{% endblock title %}
{% block body %}
<div class="rounded shadow p-3 text-center mt-4 d-flex justify-content-around">
    <a class="nav-link" href="music-automotive-and-baby">
        Music, Automotive & Baby
    </a>
    <a class="nav-link" href="computers-and-toys">
        Computers & Toys
    </a>
    <a class="nav-link" href="sports-and-industrial">
        Sports & Industrial
    </a>
</div>
    {% include "shared/_products.html.twig" with {
        'products' : products
    }%}
{% endblock body %}