<div class="col-md-3">
    <figure class="card card-product-grid">
        <div class="img-wrap"> 
            <img src="assets/images/items/2.jpg">
        </div> <!-- img-wrap.// -->
        <figcaption class="info-wrap">
                <a href="#" class="title mb-2">High Quality Winter PU Rain Jacket with Padding for Men's outdoor</a>
                <div class="price-wrap">
                    <span class="price">$50.00-$75.00</span> 
                    <small class="text-muted">/per item</small>
                </div> <!-- price-wrap.// -->
                
                <p class="mb-2"> 4 Pieces  <small class="text-muted">(Min Order)</small></p>
                
                <p class="text-muted ">Great manufacturer Co ltd.</p>
               
                <hr>
                
                <p class="mb-3">
                    <span class="tag"> <i class="fa fa-check"></i> Verified</span> 
                    <span class="tag"> 3 Years </span> 
                    <span class="tag"> 70 reviews </span>
                    <span class="tag"> Russia </span>
                </p>
            
                <label class="custom-control mb-3 custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <div class="custom-control-label">Add to compare
                  </div>
                </label>

                <a href="#" class="btn btn-outline-primary"> <i class="fa fa-shopping-cart"></i>Add to cart </a>	
                
        </figcaption>
    </figure>
</div>